<ion-header>
  <ion-toolbar>
    <ion-title>Edit Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/listBooking">Return List Booking</a>
  <ion-list lines="full">
    <form [formGroup]="bookingEditForm" (ngSubmit)="formUpdate()">
      <ion-item>
        <ion-label position="floating">Restaurant</ion-label>
        <ion-select formControlName="restaurantId" placeholder="Select One Type" required>
          <ion-select-option value="{{booking.restaurantId}}">{{restaurant.type}} {{restaurant.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.restaurantId">
          <div class="error-message" *ngIf="bookingEditForm.get('restaurantId').hasError(validation.type) && (bookingEditForm.get('restaurantId').dirty || bookingEditForm.get('restaurantId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Customer</ion-label>
        <ion-select formControlName="customerId" placeholder="Select One Type" required>
          <ion-select-option value="{{booking.customerId}}">{{customer.name}} {{customer.surname}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.customerId">
          <div class="error-message" *ngIf="bookingEditForm.get('customerId').hasError(validation.type) && (bookingEditForm.get('customerId').dirty || bookingEditForm.get('customerId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Turn</ion-label>
        <ion-select formControlName="turnId" placeholder="Select One Type" required>
          <ion-select-option value="{{booking.turnId}}">{{date}} - {{hour}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.turnId">
          <div class="error-message" *ngIf="bookingEditForm.get('turnId').hasError(validation.type) && (bookingEditForm.get('turnId').dirty || bookingEditForm.get('turnId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Number Person</ion-label>
        <ion-input id="numberPerson" formControlName="numberPerson" type="number" pattern="[0-9]*" min="1" max="{{maximo(numberPersonTotal, diners, numberPerson)}}" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.numberPerson">
          <div class="error-message" *ngIf="bookingEditForm.get('numberPerson').hasError(validation.type) && (bookingEditForm.get('numberPerson').dirty || bookingEditForm.get('numberPerson').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!bookingEditForm.valid">Edit Booking</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
