<ion-header>
  <ion-toolbar>
    <ion-title>List Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <a routerLink="/registrationCustomer">Create Customer</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraCustomer"></ion-searchbar>
  <ion-card *ngFor="let customer of customers | filter: filtraCustomer">
    <ion-card-header>
      <ion-card-subtitle>{{customer.email}}</ion-card-subtitle>
      <ion-card-title>{{customer.data.name}}<br>{{customer.data.surname}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card: {{customer.data.card}} <br>
      Phone: {{customer.data.phone}} <br>
      <img class="buttonFont" routerLink="/editCustomer/{{customer.id}}" src="../../assets/img/edit.png" alt="Icono editar">
      <img id="trigger-{{customer.id}}" src="../../assets/img/delete.png" alt="Icono borrar">
      <ion-modal trigger="trigger-{{customer.id}}">
        <ng-template>
          <ion-content>
            <h2>Delete Customer</h2>
            <p>If you delete the customer, you delete all reservations made and he will not be able to access the app.</p>
            <p>Do you want to delete it?</p>
            <ion-button size="small" fill="outline" (click)="onRoute()">
              Return List Customer
            </ion-button>
            <ion-button id="trigger-button" size="small" fill="outline" color="danger" (click)="delete(customer.user, customer)">
              Remove
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>
