<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Create Restaurant</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="restaurantForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="surname" placeholder="Select One Type" required>
          <ion-select-option value="restaurant">Restaurant</ion-select-option>
          <ion-select-option value="bar">Bar</ion-select-option>
          <ion-select-option value="cafe">Cafe</ion-select-option>
          <ion-select-option value="pub">Pub</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.surname">
          <div class="error-message" *ngIf="restaurantForm.get('surname').hasError(validation.type) && (restaurantForm.get('surname').dirty || restaurantForm.get('surname').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="error-message" *ngIf="restaurantForm.get('name').hasError(validation.type) && (restaurantForm.get('name').dirty || restaurantForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Card</ion-label>
        <ion-input formControlName="card" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.card">
          <div class="error-message" *ngIf="restaurantForm.get('card').hasError(validation.type) && (restaurantForm.get('card').dirty || restaurantForm.get('card').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.phone">
          <div class="error-message" *ngIf="restaurantForm.get('phone').hasError(validation.type) && (restaurantForm.get('phone').dirty || restaurantForm.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input formControlName="adress" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.adress">
          <div class="error-message" *ngIf="restaurantForm.get('adress').hasError(validation.type) && (restaurantForm.get('adress').dirty || restaurantForm.get('adress').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.location">
          <div class="error-message" *ngIf="restaurantForm.get('location').hasError(validation.type) && (restaurantForm.get('location').dirty || restaurantForm.get('location').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Capacity</ion-label>
        <ion-input formControlName="capacity" type="number" pattern="[0-9]*" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.location">
          <div class="error-message" *ngIf="restaurantForm.get('capacity').hasError(validation.type) && (restaurantForm.get('capacity').dirty || restaurantForm.get('capacity').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!restaurantForm.valid">Create Restaurant</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
