<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Thank you for Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Tapeapp Verify Email</h2><br>
      <p class="formGroup" *ngIf="authService.userData as user">
        Please check your email {{user.email}} and click on the link to verfiy your email address.
      </p><br>
      <ion-button type="submit" (click)="authService.sendVerificationMail('customer')" expand="block">
        Resend Verification Email
      </ion-button><br>
      <div class="redirectToLogin">
        <span>¿Quieres volver?<span class="redirect" routerLink="/login"> Inicia Sesión</span></span>
      </div><br>
    </ion-row>
  </ion-grid>
</ion-content>
