<ion-header>
  <ion-toolbar>
    <ion-title>List Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <a routerLink="/registrationRestaurant">Create Restaurant</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraRestaurant"></ion-searchbar>
  <ion-card *ngFor="let restaurant of restaurants | filter: filtraRestaurant">
    <ion-card-header>
      <ion-card-subtitle>{{restaurant.email}}</ion-card-subtitle>
      <ion-card-title>{{restaurant.data.surname}}<br>{{restaurant.data.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card: {{restaurant.data.card}} <br>
      Phone: {{restaurant.data.phone}} <br>
      Capacity: {{restaurant.data.capacity}}<br>
      <img class="buttonFont" routerLink="/editRestaurant/{{restaurant.id}}" src="../../assets/img/edit.png" alt="Icono edit">
      <img id="trigger-{{restaurant.id}}" src="../../assets/img/delete.png" alt="Icono borrar">
      <ion-modal trigger="trigger-{{restaurant.id}}">
        <ng-template>
          <ion-content>
            <h2>Delete Restaurant</h2>
            <p>
              If you delete the restaurant, you delete all bookings made,
              you delete all staff made, you delete all turn made, you delete all check made,
              and he will not be able to access the app.
            </p>
            <p>Do you want to delete it?</p>
            <ion-button size="small" fill="outline" routerLink="/listRestaurant">
              <p class="buttonFont">Return List Restaurant</p>
            </ion-button>
            <ion-button id="trigger-button" size="small" fill="outline" color="danger">
              <p (click)="delete(restaurant.user, restaurant)">Remove</p>
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>
