<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Create Customer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="customerForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" maxlength="20" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="error-message" *ngIf="customerForm.get('name').hasError(validation.type) && (customerForm.get('name').dirty || customerForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input formControlName="surname" type="text" maxlength="80" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.surname">
          <div class="error-message" *ngIf="customerForm.get('surname').hasError(validation.type) && (customerForm.get('surname').dirty || customerForm.get('surname').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Card</ion-label>
        <ion-input formControlName="card" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.card">
          <div class="error-message" *ngIf="customerForm.get('card').hasError(validation.type) && (customerForm.get('card').dirty || customerForm.get('card').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="tel" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.phone">
          <div class="error-message" *ngIf="customerForm.get('phone').hasError(validation.type) && (customerForm.get('phone').dirty || customerForm.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input formControlName="adress" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.adress">
          <div class="error-message" *ngIf="customerForm.get('adress').hasError(validation.type) && (customerForm.get('adress').dirty || customerForm.get('adress').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.location">
          <div class="error-message" *ngIf="customerForm.get('location').hasError(validation.type) && (customerForm.get('location').dirty || customerForm.get('location').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Birthday</ion-label><br>
        <ion-datetime formControlName="birthday" presentation="date" locale="es-ES" dateFormat="MM/DD/YYYY" min="1920-01-01" max="{{today}}"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.birthday">
          <div class="error-message" *ngIf="customerForm.get('birthday').hasError(validation.type) && (customerForm.get('birthday').dirty || customerForm.get('birthday').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!customerForm.valid">Create Customer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
