<ion-header>
  <ion-toolbar>
    <ion-title>List Staff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <a routerLink="/registrationStaff">Create Staff</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraStaff"></ion-searchbar>
  <ion-card *ngFor="let staff of staffs | filter: filtraStaff">
    <ion-card-header>
      <ion-card-subtitle>{{staff.email}}</ion-card-subtitle>
      <ion-card-title>{{staff.data.name}}<br>{{staff.data.surname}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Position: {{staff.data.position}}<br>
      Card: {{staff.data.card}} <br>
      Phone: {{staff.data.phone}} <br>

      <img routerLink="/editStaff/{{staff.id}}"  src="../../assets/img/edit.png" alt="Icono Editar">
      <img id="trigger-{{staff.id}}" src="../../assets/img/delete.png" alt="Icono borrar">
      <ion-modal trigger="trigger-{{staff.id}}">
        <ng-template>
          <ion-content>
            <h2>Delete Staff</h2>
            <p>
              If you delete the staff, you delete all check made,
              and he will not be able to access the app.
            </p>
            <p>Do you want to delete it?</p>
            <ion-button size="small" fill="outline" (click)="onRoute()">
              Return List Restaurant
            </ion-button>
            <ion-button id="trigger-button" size="small" fill="outline" color="danger" (click)="delete(staff.user, staff)">
              Remove
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>
