<ion-header>
  <ion-toolbar>
    <ion-title>List Check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <div *ngIf="userAccount.roleId === 'staff'">
    <a (click)="checkIn(restaurantId, staffId, today, '')">Check In</a>
    <ion-searchbar placeholder="Search" [(ngModel)]="filtraCheck"></ion-searchbar>
    <div *ngFor="let check of checks | filter: filtraCheck">
      <div *ngFor="let staff of staffs">
        <ion-card>
          <ion-item>
            <p>Start:</p><br>
            <p>{{this.utility.dateFormat(check.data.start)}} - {{this.utility.timeFormat(check.data.start)}}</p><br>
          </ion-item>
          <ion-item>
            <p *ngIf="check.data.end !== ''">End:</p><br>
            <p *ngIf="check.data.end !== ''">{{this.utility.dateFormat(check.data.end)}} - {{this.utility.timeFormat(check.data.end)}}</p><br>
          </ion-item>
          <ion-button size="small" fill="outline" *ngIf="check.data.end === ''">
            <p class="buttonFont" (click)="checkOut(check.id, restaurantId, staffId, check.data.start, today)">Check Out</p>
          </ion-button>
        </ion-card>
      </div>
    </div>
  </div>
  <div *ngIf="userAccount.roleId === 'restaurant'">
    <ion-searchbar placeholder="Search" [(ngModel)]="filtraCheck"></ion-searchbar>
    <div *ngFor="let check of checks | filter: filtraCheck">
      <div *ngFor="let restaurant of restaurants">
        <ion-list>
          <ion-card-title>
            {{check.staff.name}} - {{check.staff.surname}}
          </ion-card-title>
          <ion-item>
            <ion-label>{{restaurant.data.surname}} {{restaurant.data.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Start:</ion-label>
            <p>{{this.utility.dateFormat(check.data.start)}} - {{this.utility.timeFormat(check.data.start)}}</p>
          </ion-item>
          <ion-item>
            <ion-label>End:</ion-label>
            <p>{{this.utility.dateFormat(check.data.end)}} - {{this.utility.timeFormat(check.data.end)}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
