<ion-header>
  <ion-toolbar>
    <ion-title>Create Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/chooseTurn/{{restaurantId}}">Return</a><br>
  <ion-list lines="full" *ngIf="maximo(numberPersonTotal, diners) > 0">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Restaurant</ion-label>
        <ion-select formControlName="restaurantId" placeholder="Select One Type" required>
          <ion-select-option value="{{restaurantId}}">{{restaurant.type}} {{restaurant.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.restaurantId">
          <div class="error-message" *ngIf="bookingForm.get('restaurantId').hasError(validation.type) && (bookingForm.get('restaurantId').dirty || bookingForm.get('restaurantId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Customer</ion-label>
        <ion-select formControlName="customerId" placeholder="Select One Type" required>
          <ion-select-option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.data.name}} {{customer.data.surname}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.customerId">
          <div class="error-message" *ngIf="bookingForm.get('customerId').hasError(validation.type) && (bookingForm.get('customerId').dirty || bookingForm.get('customerId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Turn</ion-label>
        <ion-select formControlName="turnId" placeholder="Select One Type" required>
          <ion-select-option value="{{turnId}}">{{date}} - {{hour}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.turnId">
          <div class="error-message" *ngIf="bookingForm.get('turnId').hasError(validation.type) && (bookingForm.get('turnId').dirty || bookingForm.get('turnId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Number Person</ion-label>
        <ion-input id="numberPerson" formControlName="numberPerson" type="number" pattern="[0-9]*" min="1" max="{{maximo(numberPersonTotal, diners)}}" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.numberPerson">
          <div class="error-message" *ngIf="bookingForm.get('numberPerson').hasError(validation.type) && (bookingForm.get('numberPerson').dirty || bookingForm.get('numberPerson').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!bookingForm.valid">Create Booking</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list *ngIf="maximo(numberPersonTotal, diners) <= 0">
    <ion-item>
      <h2>Lo sentimos, no quedan plazas ahora para esta reserva.</h2>
    </ion-item>
  </ion-list>
</ion-content>
