<ion-header>
  <ion-toolbar>
    <ion-title>List Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <a routerLink="/chooseRestaurant" *ngIf="this.user.roleId ==='customer'">New Booking</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraBooking"></ion-searchbar>
  <div *ngIf="this.user.roleId ==='customer'">
    <div *ngFor="let customer  of customers">
      <div *ngFor="let booking of bookings | filter: filtraBooking">
        <div *ngIf="this.utility.compareDate(booking.turn.date)">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.utility.dateFormat(booking.turn.date)}} -
                {{this.utility.timeFormat(booking.turn.date)}}</ion-card-subtitle>
              <ion-card-title>{{booking.restaurant.surname}} {{booking.restaurant.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Phone Restaurant: {{booking.restaurant.phone}}<br>
              Number Dinner: {{booking.data.numberPerson}}<br>
              <ion-button size="small" fill="outline">
                <p class="buttonFont" routerLink="/editBooking/{{booking.id}}">Edit</p>
              </ion-button>
              <ion-button id="trigger-{{booking.id}}" size="small" fill="outline" color="danger">
                Delete
              </ion-button>
              <ion-modal trigger="trigger-{{booking.id}}">
                <ng-template>
                  <ion-content>
                    <h2>Delete Booking</h2>
                    <p>If you cancel the reservation you will lose your place in the restaurant</p>
                    <p>Do you want to delete it?</p>
                    <ion-button size="small" fill="outline" (click)="onRoute()">
                      >Return List Booking
                    </ion-button>
                    <ion-button id="trigger-button" (click)="delete(booking)" size="small" fill="outline" color="danger">
                      Remove
                    </ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.user.roleId ==='restaurant'">
    <div *ngFor="let restaurant  of restaurants">
      <div *ngFor="let booking of bookings">
        <div *ngIf="this.utility.compareDate(booking.turn.date)">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.utility.dateFormat(booking.turn.date)}} -
                {{this.utility.timeFormat(booking.turn.date)}}</ion-card-subtitle>
              <ion-card-title>{{booking.customer.name}} {{booking.customer.surname}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Phone Customer: {{booking.customer.phone}}<br>
              Number Dinner: {{booking.data.numberPerson}}<br>
              <ion-button size="small" fill="outline">
                <p class="buttonFont" routerLink="/editBooking/{{booking.id}}">Edit</p>
              </ion-button>
              <ion-button id="trigger-{{booking.id}}" size="small" fill="outline" color="danger">
                Delete
              </ion-button>
              <ion-modal trigger="trigger-{{booking.id}}">
                <ng-template>
                  <ion-content>
                    <h2>Delete Booking</h2>
                    <p>If you cancel the reservation the customer will lose their place in the restaurant</p>
                    <p>Do you want to delete it?</p>
                    <ion-button size="small" fill="outline" (click)="onRoute()">
                      Return List Booking
                    </ion-button>
                    <ion-button id="trigger-button" (click)="delete(booking)" size="small" fill="outline" color="danger">
                      Remove
                    </ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
