ion-card-subtitle{
  font-size: x-small;
}
ion-card-title{
  font-size: medium;
}
ion-card-content{
  display: inline-block;
  font-size: small;
}
.edit{
  width: 20%;
  height: 20%;

}
img{
  width: 45px;
  height: 45px;
}



