<ion-header>
  <ion-toolbar>
    <ion-title>List Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <a routerLink="/registrationAdmin">Create Admin</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraAdmin"></ion-searchbar>
    <div *ngFor="let admin of admins | filter: filtraAdmin">
      <ion-card *ngIf="admin.user.isActive">
        <ion-card-header>
          <ion-card-subtitle>{{admin.email}}</ion-card-subtitle>
          <ion-card-title>{{admin.data.name}}<br>{{admin.data.surname}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Card: {{admin.data.card}} <br>
          Phone: {{admin.data.phone}} <br>
          <img routerLink="/editAdmin/{{admin.id}}" src="../../assets/img/edit.png" alt="Icono Editar">
          <div *ngIf="admin.email !== 'superadmtapeapp@gmail.com'">
            <img id="trigger-{{admin.id}}" src="../../assets/img/delete.png" alt="Icono borrar">
            <!--<ion-button id="trigger-{{admin.id}}" size="small" fill="outline" color="danger">Remove</ion-button>!-->
            <ion-modal trigger="trigger-{{admin.id}}">
              <ng-template>
                <ion-content>
                  <h2>Delete Admin</h2>
                  <p>If the administrator is removed and he will not be able to access the app.</p>
                  <p>Do you want to delete it?</p>
                  <ion-button size="small" fill="outline" (click)="onRoute()">
                    Return List Admin
                  </ion-button>
                  <ion-button id="trigger-button" size="small" fill="outline" color="danger" (click)="delete(admin.user)">
                    Remove
                  </ion-button>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
