<ion-header>
  <ion-toolbar>
    <ion-title>Navigations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let navigation of order(navigations)">
      <ion-button class="navigationButton" color="primary"><p routerLink="/{{navigation.data.route}}">{{navigation.data.name}}</p></ion-button>
    </ion-item>
  </ion-list>
</ion-content>


