<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Create Staff</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="staffForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="position" placeholder="Select One Type" required>
          <ion-select-option value="witer">Witer</ion-select-option>
          <ion-select-option value="barman">Barman</ion-select-option>
          <ion-select-option value="chef">Chef</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.position">
          <div class="error-message" *ngIf="staffForm.get('position').hasError(validation.type) && (staffForm.get('position').dirty || staffForm.get('position').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Contract</ion-label>
        <ion-select formControlName="contract" placeholder="Select One Type" required>
          <ion-select-option *ngFor="let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.data.type}} {{restaurant.data.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.contract">
          <div class="error-message" *ngIf="staffForm.get('contract').hasError(validation.type) && (staffForm.get('contract').dirty || staffForm.get('contract').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="error-message" *ngIf="staffForm.get('name').hasError(validation.type) && (staffForm.get('name').dirty || staffForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input formControlName="surname" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.surname">
          <div class="error-message" *ngIf="staffForm.get('surname').hasError(validation.type) && (staffForm.get('surname').dirty || staffForm.get('surname').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Card</ion-label>
        <ion-input formControlName="card" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.card">
          <div class="error-message" *ngIf="staffForm.get('card').hasError(validation.type) && (staffForm.get('card').dirty || staffForm.get('card').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.phone">
          <div class="error-message" *ngIf="staffForm.get('phone').hasError(validation.type) && (staffForm.get('phone').dirty || staffForm.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input formControlName="adress" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.adress">
          <div class="error-message" *ngIf="staffForm.get('adress').hasError(validation.type) && (staffForm.get('adress').dirty || staffForm.get('adress').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.location">
          <div class="error-message" *ngIf="staffForm.get('location').hasError(validation.type) && (staffForm.get('location').dirty || staffForm.get('location').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!staffForm.valid">Create Staff</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
