<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tapeapp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="form-content">
  <ion-card>
    <img src="../../assets/img/restaurante.png" alt="Icono editorial">
    <form class="form" [formGroup]="validationsForm">
      <ion-item lines="full">
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" #email formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message"
            *ngIf="validationsForm.get('email').hasError(validation.type) &&
            (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item lines="full">
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" #password formControlName="password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
        <ion-button class="submit-btn" expand="block" type="submit"  expand="block" (click)="authService.signIn(email.value, password.value)">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p class="go-to-register">
      No account yet? <br> <a (click)="goRegisterPage()">Create an account.</a>
    </p>
    <p class="go-to-forgot">
      Forgot you password? <br> <a (click)="goForgotPage()">Reset Password.</a>
    </p>
  </ion-card>
</ion-content>
