.error-message
{
 color: var(--ion-color-danger);
}
.form-content{
  text-align: center;
}
.go-to-register
{
  text-align: center;
  margin-top: 20px;
}
ion-label{
 text-align: center;
}
.submit-btn
{
  margin-top: 40px;
}
img {
  text-align: center;
	height: 35%;
	width: 55%;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
}
ion-card{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
ion-button{
  padding-left: 5%;
  padding-right: 5%;
}
ion-item{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
ion-content{
  text-align: center;
}

