<ion-header>
  <ion-toolbar>
    <ion-title>Choose Turn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/chooseRestaurant">Return Restaurant</a><br>
  <div *ngFor="let turn of turns">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{turn.date}}</ion-card-subtitle>
        <ion-card-title>{{turn.hour}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Diners: {{turn.diners}}<br>
        <ion-button size="small" fill="outline">
          <p class="buttonFont" routerLink="/createBooking/{{turn.id}}">Select Turn</p>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

