<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br><br>
  <div *ngFor="let p of people">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{userAccount.email}}</ion-card-subtitle>
        <ion-card-title>{{p.data.name}} {{p.data.surname}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Adress: {{p.data.adress}} <br>
        Location: {{p.data.location}} <br>
        Card: {{p.data.card}} <br>
        Phone: {{p.data.phone}} <br>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button type="submit" (click)="this.authService.signOut()" expand="block">Logout</ion-button>
</ion-content>
