<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Edit Admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <a routerLink="/listAdmin">Return List Admin</a>
  <ion-list lines="full">
    <a routerLink="/navigations">Return Navigation</a>
    <form [formGroup]="adminEditForm" (ngSubmit)="formUpdate()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="error-message" *ngIf="adminEditForm.get('name').hasError(validation.type) && (adminEditForm.get('name').dirty || adminEditForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input formControlName="surname" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.surname">
          <div class="error-message" *ngIf="adminEditForm.get('surname').hasError(validation.type) && (adminEditForm.get('surname').dirty || adminEditForm.get('surname').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Card</ion-label>
        <ion-input formControlName="card" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.card">
          <div class="error-message" *ngIf="adminEditForm.get('card').hasError(validation.type) && (adminEditForm.get('card').dirty || adminEditForm.get('card').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.phone">
          <div class="error-message" *ngIf="adminEditForm.get('phone').hasError(validation.type) && (adminEditForm.get('phone').dirty || adminEditForm.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input formControlName="adress" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.adress">
          <div class="error-message" *ngIf="adminEditForm.get('adress').hasError(validation.type) && (adminEditForm.get('adress').dirty || adminEditForm.get('adress').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.location">
          <div class="error-message" *ngIf="adminEditForm.get('location').hasError(validation.type) && (adminEditForm.get('location').dirty || adminEditForm.get('location').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!adminEditForm.valid">Edit Admin</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>


