<ion-header>
  <ion-toolbar>
    <ion-title>Edit Turn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <a routerLink="/listTurn">Return List Turn</a><br>
    <form [formGroup]="turnEditForm" (ngSubmit)="formUpdate()">
      <ion-item>
        <ion-label position="floating">Date</ion-label><br>
        <ion-datetime formControlName="date" presentation="date-time" locale="es-ES" min="{{today}}"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.date">
          <div class="error-message" *ngIf="turnEditForm.get('date').hasError(validation.type) && (turnEditForm.get('date').dirty || turnEditForm.get('date').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item *ngFor="let restaurant of restaurants ">
        <ion-label position="floating">Diners</ion-label>
        <ion-input formControlName="diners" type="number" min="1" max="{{restaurant.data.capacity}}" pattern="[0-9]*" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.diners">
          <div class="error-message" *ngIf="turnEditForm.get('diners').hasError(validation.type) && (turnEditForm.get('diners').dirty || turnEditForm.get('diners').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Restaurant</ion-label>
        <ion-select formControlName="restaurantId" placeholder="Select One Type" required>
          <ion-select-option *ngFor="let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.data.type}} {{restaurant.data.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.restaurantId">
          <div class="error-message" *ngIf="turnEditForm.get('restaurantId').hasError(validation.type) && (turnEditForm.get('restaurantId').dirty || turnEditForm.get('restaurantId').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" [disabled]="!turnEditForm.valid">Edit Turn</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
