#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.auth-form{
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img {
  text-align: center;
	height: 35%;
	width: 55%;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
}
ion-card{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
ion-button{
  padding-left: 25%;
  padding-right: 25%;
}
