<ion-header>
  <ion-toolbar>
    <ion-title> Tapeapp </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-card mode="md">
    <ion-grid>
      <img class="logo" src="../../assets/img/restaurante.png" alt="Icono editorial">
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-button
            [routerLink]="['/registrationCustomer']"
            expand="block"
            color="primary">
            Register
          </ion-button>
          <span class="divider line one-line">or</span>
          <span class="already">Already a user?</span>
          <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
