<ion-header>
  <ion-toolbar>
    <ion-title>Choose Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/listBooking">Return List Booking</a><br>
  <ion-card *ngFor="let restaurant of restaurants">
    <ion-card-header>
      <ion-card-subtitle>{{restaurant.email}}</ion-card-subtitle>
      <ion-card-title>{{restaurant.data.surname}}<br>{{restaurant.data.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card: {{restaurant.data.card}} <br>
      Phone: {{restaurant.data.phone}} <br>
      Capacity: {{restaurant.data.capacity}}<br>
      <ion-button size="small" fill="outline">
        <p class="buttonFont" routerLink="/chooseTurn/{{restaurant.id}}">Select Restaurant</p>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
