<ion-header>
  <ion-toolbar>
    <ion-title>List Turn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/navigations">Return Navigation</a><br>
  <a routerLink="/createTurn">Create Turn</a>
  <ion-searchbar placeholder="Search" [(ngModel)]="filtraTurn"></ion-searchbar>
  <ion-card *ngFor="let turn of turns | filter: filtraTurn">
    <ion-card-header>
      <ion-card-subtitle>{{turn.date}}</ion-card-subtitle>
      <ion-card-title>{{turn.hour}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Number Booking: {{turn.numberBooking}}
      Diners: {{turn.diners}}<br>
      <ion-button size="small" fill="outline">
        <p class="buttonFont" routerLink="/editTurn/{{turn.id}}">Edit</p>
      </ion-button>
      <ion-button id="trigger-{{turn.id}}" size="small" fill="outline" color="danger">
        Delete
      </ion-button>
      <ion-modal trigger="trigger-{{turn.id}}">
        <ng-template>
          <ion-content>
            <h2>Delete Turn</h2>
            <p>
              If you delete the restaurant, you delete all bookings made, and
              you delete all staff made in this turn.
            </p>
            <p>Do you want to delete it?</p>
            <ion-button size="small" fill="outline" (click)="onRoute()" >
              Return List Turn
            </ion-button>
            <ion-button id="trigger-button" size="small" fill="outline" color="danger" (click)="delete(turn)">
              Remove
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>
